
/*TOP*/
.main-contents {
    padding: 0;
}


.top-wrapper1 {
  padding: 0;
  box-shadow: 5px 5px 15px #33342B inset;
}

.top_img {
  width: auto;
  height: auto;
}



/*top end*/




/*content explain */


.intro{
    margin:2em 0;
    position: relative;
    padding: 0.5em 2em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: inline-block;
}
.intro:before, .intro:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.intro:before {left: 10px;}
.intro:after {right: 10px;}
.intro p {
    margin: 0; 
    padding: 0;
}




.paper{
    padding:50px;/*セロテープにかからないように、適宜Paddingをいれる*/
    box-shadow:1px 1px 2px rgba(0,0,0,.3);
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(239,239,225,1) 100%); 
}


.tape {
    position:relative;/*テープの表示位置の基準となる*/
    display:inline-block;/*内容に合わせて幅も伸縮させる*/
}
.tape::before, .tape::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.tape::before {
    left: -5%;
    top: -10%;
    width: 25%;
    height: 50px;
    transform: rotate(-10deg);
}
.tape::after {
    right: -5%;
    top: -10%;
    width: 24%;
    height: 50px;
    transform: rotate(10deg);
}

.top-wrapper2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: black;
}

.top_img2 {
  width: 60%;
  height: 100%;
  box-shadow: 5px 5px 5px gray;
  position: relative;
}

.top-wrapper3 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: black;
}


/*content explain end*/



/*album*/

.top-wrapper4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
}

.img_g {
  width: 250px;
  height: 250px;
  object-fit: cover;
 }

 .feed_con {
  position: relative;
  width: 220px;
  margin: 20px;
}
 
.feed_con img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.feed_con p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  }




.hoge {
    position: relative;
    margin: 10px auto;
    max-width: 700px;
    background: #fff;
    padding: 40px;
}



.hoge .image, .hoge .popup-modal-dismiss {
    text-align: center;
}

.date_rec {
    text-align: right;
}

.user_info {
    text-align: right;
}

.btn_user {
    text-align: right;
}

.like_count {
    font-size: 10px;
}




/*index.php end*/