/*sub var*/

.body_con {
    padding: 100px;
}

h2{
    color:green;
    text-align:left;
    margin: 0
}

.sub-contents1{
    display: inline-block;
    top:0;
    width: 100%;
    padding: 0;
    height: 150px;
    background-image: url("../img/uses/back_img.jpeg");
    background-repeat: repeat;
    z-index: 10;
    margin-left: 0;

}

.b_post {
    float: right;
}

 /*sub var*/


 /*album*/

.img_g {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.feed_con {
  display: flex;
  justify-content: center;
  align-items: center;
}




/*modal css*/


.hoge {
    position: relative;
    margin: 10px auto;
    max-width: 700px;
    background: #fff;
    padding: 40px;
}



.hoge .image, .hoge .popup-modal-dismiss {
    text-align: center;
}

.date_rec {
    text-align: right;
}

.user_info {
    text-align: right;
}

.btn_user {
    text-align: right;
}

.like_count {
    font-size: 10px;
}
