/*sub var*/

.body_con {
    padding: 100px;
}

h2{
    color:green;
    text-align:left;
    margin: 0;
}

.sub-contents1{
    display: inline-block;

}

.memo {
  position: relative;
  background: #F8F0D7;
  border-left:4px dotted rgba(0,0,0,.1);
  border-right:4px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 1em;
  color: #65513f;
  width: 400px;
}
.masking-tape{
  position: absolute;
  top: -1em;
  left: 26%;
  width:100px;
  height:30px;
  background-image: linear-gradient(-45deg, rgba(227,155,140,.4) 25%, transparent 25%, transparent 50%, rgba(227,155,140,.4) 50%, rgba(227,155,140,.4) 75%, transparent 75%, transparent 100%);
  background-size: 20px 20px;
  border-left:2px dotted rgba(0,0,0,.1);
  border-right:2px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(-4deg); 
}
.memo h2 {
  color: #65513f;
  padding: 10px;
  text-align: center;
}

.mytitle {
    padding-bottom: 100px;
}








 /*sub var*/


 /*album*/

.img_g {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.feed_con {
  position: relative;
  width: 220px;
}
 
.feed_con img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.feed_con p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  }





/*modal css*/


.hoge {
    position: relative;
    margin: 10px auto;
    max-width: 700px;
    background: #fff;
    padding: 40px;
}



.hoge .image, .hoge .popup-modal-dismiss {
    text-align: center;
}

.date_rec {
    text-align: right;
}

.modal_btn {
  float: right;
  align-content: center;
}

.fa-heart {
  color: #DA0C4D;
}

.fa-comment {
  color: #20839C;
}

.s_feed {
  color: #349966;
}



.user_info {
    text-align: right;
}

.btn_user {
    text-align: right;
}

