.menu_block  {
    /*background-image: url(../img/uses/nav_back.jpeg);*/
    background-color: #7E5926;
    background-repeat: repeat;
}

.main_logo {
    filter: drop-shadow(5px 5px 5px #503827);
}

.user_id {
    text-align: left;
    padding-left: 50px;
}

.s_nav {
    list-style: none;
    padding: 0;
}

h5 {
    color: white;
    text-align: left;
    padding-left: 50px;
}
