label {
    font-size: 20px;
}



h2 {
  text-align: center;
  font-size: 30px;
}

.top-wrapper1 {
   display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: black;
}

.memo {
  position: relative;
  background: #F8F0D7;
  border-left:4px dotted rgba(0,0,0,.1);
  border-right:4px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 1em;
  color: #65513f;
  width: 300px;
}
.masking-tape{
  position: absolute;
  top: -1em;
  left: 26%;
  width:100px;
  height:30px;
  background-image: linear-gradient(-45deg, rgba(227,155,140,.4) 25%, transparent 25%, transparent 50%, rgba(227,155,140,.4) 50%, rgba(227,155,140,.4) 75%, transparent 75%, transparent 100%);
  background-size: 20px 20px;
  border-left:2px dotted rgba(0,0,0,.1);
  border-right:2px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(-4deg); 
}
.memo h2 {
  color: #65513f;
  padding: 10px;
  text-align: center;
}

.top-wrapper2 {
  padding-top: 100px;
  padding-bottom: 50px;
  color: black;
}

.top-wrapper3 {
  padding: 70px 50px 50px 50px;
  color: black;
  font-size: 15px;
}

.top-wrapper4 {
     display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
}

.top-wrapper5 {
  padding-top: 0;
  padding-bottom: 50px;
  color: black;
}

.top-wrapper6 {
       display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
}

.form-comment {
    width: 600px;
}

form img.thumb {
    margin:0 5px 5px 0;
    max-width:160px;
    vertical-align:bottom;
}

