


.sub-contents1{
    display: inline-block;
    top:0;
    width: 100%;
    padding: 0;
    height: 150px;
    z-index: 10;
    margin-left: 0;

}

h2{
    color:green;
    text-align:left;
}

.pro_title {
    margin:0;
    margin-left: 50px;
    position: relative;
    padding: 0.5em 2em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: inline-block;
}
.pro_title:before, .pro_title:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.pro_title:before {left: 10px;}
.pro_title:after {right: 10px;}
.pro_title p {
    margin: 0; 
    padding: 0;
}


.btn-submit {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}


