

body {
    background-image: url("../img/uses/back_img.jpeg");
    font-size: 25px;
}


.sub-contents1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-contents2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.intro{
    margin:2em 0;
    position: relative;
    padding: 0.5em 2em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: inline-block;
}

.intro:before, .intro:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.intro:before {left: 10px;}
.intro:after {right: 10px;}
.intro p {
    margin: 0; 
    padding: 0;
}


.reg_title {
  filter: drop-shadow(5px 5px 3px #503827);
}


.se_box {
  padding-left: 15px;
  font-size: 25px;
}

.btn-submit {
  text-align: center;
  padding: 15px;
    margin-top: 70px;
}

.btn-sub2 {
  text-align: center;
}

.btnn {
  margin-bottom: 50px;
  align-content: center;
}





/*Signin page*/

.log_con {
  text-align: center;
}

.content_header{
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
    padding: 0.5em 2em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: inline-block;
}
.content_header:before, .content_header:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.content_header:before {left: 10px;}
.content_header:after {right: 10px;}
.content_header p {
    margin: 0; 
    padding: 0;
}

.label_name {
  margin-bottom: 20px;
}

.t_form {
  margin-bottom: 50px;
}
