
body{
    background-color:#F8EFBA;
}

.log_con{
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

h2{
    margin-bottom: 20px;
}

.submit_center .btn{
    text-align:center;
}

a{
    border:2px solid;
    background:#FFFFFF;
};

