/*sub var*/

.body_con {
    padding: 100px;
}

h2{
    color:green;
    text-align:left;
    margin: 0
}

.sub-contents1{
    display: inline-block;
    top:0;
    width: 100%;
    padding: 0;
    height: 150px;
    background-image: url("../img/uses/back_img.jpeg");
    background-repeat: repeat;
    z-index: 10;
    margin-left: 0;

}



.search_title {
    margin:0;
    position: relative;
    padding: 0.5em 2em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: inline-block;
}
.search_title:before, .search_title:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.search_title:before {left: 10px;}
.search_title:after {right: 10px;}
.search_title p {
    margin: 0; 
    padding: 0;
}


.b_post{
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*アイコン色*/
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.b_post .fa {
    line-height: 80px;
}
.b_post:active {/*押したとき*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

 /*sub var*/


.img_g {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 10px 10px 15px -10px;
}

.feed_con {
  position: relative;
  width: 220px;
  margin: 20px;
}
 
.feed_con img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.feed_con p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  }


.hoge {
    position: relative;
    margin: 10px auto;
    max-width: 700px;
    background: #fff;
    padding: 40px;
}



.hoge .image, .hoge .popup-modal-dismiss {
    text-align: center;
}

.date_rec {
    text-align: right;
}

.user_info {
    text-align: right;
}

.btn_user {
    text-align: right;
}

.like_count {
    font-size: 10px;
}

